<?xml version="1.0"?>

<configuration>
	<appSettings />
	<connectionStrings />
	<system.web>
		<httpRuntime maxRequestLength="73400" executionTimeout="3600" />
		<!-- 1 hour timeout 60 min * 60 sec -->
		<!-- tied to serviceModel wcf binding size. -->
		<compilation debug="false" targetFramework="4.0" />
		<authentication mode="Windows" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="NPEG.Service.NpegParsingServiceBehavior" name="NPEG.Service.NpegParsingService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="myCustomBasicHttpBindingConfiguration" contract="NPEG.Service.IParsingService">
					<identity>
						<dns value="http://www.mixhacks.com:83/NpegParsingService.svc/" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://www.mixhacks.com:83/NpegParsingService.svc/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="NPEG.Service.NpegParsingServiceBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<!-- send client raw exceptions information -->
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="myCustomBasicHttpBindingConfiguration" hostNameComparisonMode="StrongWildcard" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00" maxReceivedMessageSize="73400320" maxBufferSize="73400320" maxBufferPoolSize="73400320" transferMode="Buffered" messageEncoding="Text" textEncoding="utf-8" bypassProxyOnLocal="false" useDefaultWebProxy="true">
					<security mode="None" />
					<readerQuotas maxDepth="500" maxArrayLength="73400320" />
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>